<%- include('../partials/navbar') %>

<h1> <%= flight.airline %> </h1>
<ul>
    <li>Airline: <%= flight.airline  %> </li>
    <li>Airport: <%= flight.airport  %> </li>
    <li>Flight No: <%= flight.flightNo  %> </li>
    <li>Departs: <%= flight.departs  %> </li>
</ul>


<h2> Destinations </h2>
<form id= "add-destination-form" method="POST"
action="/flights/<%-flight._id%>/destinations">
<label>Destinations</label>
<select name="airport">
<option value="AUS">AUS</option>
<option value="DFW">DFW</option>
<option value="DEN">DEN</option>
<option value="LAX">LAX</option>
<option value="SAN">SAN</option>
</select>
<label>Arrival</label>
<input type="datetime-local" name="arrival">
<input type="submit" value="Add Destination" class= "btn btn-outline-primary btn-lg">
</form>

<% if (flight.destinations.length) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Destinations Yet</h3>
  <% } %>



<%- include('../partials/footer') %>